<footer>
    <!-- Footer Default -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-logo-wrapper">
                        <!-- Logo Image -->
                        <a href="/" class="logo-image ">
                            <img src="img/logos/logo.svg" alt="logo" />
                        </a>
                        <!-- End of Logo Image -->
                        <!-- Slogan -->
                        <p class="slogan"> Learn.
                            <br />Code.
                            <br />Hack. 
                            <br />Contribute. </p>
                        <!-- End of Slogan -->
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="footer-wrapper">
                        <!-- Scroll top -->
                        <span class="scroll-top js-scroll-top">
                            <i class="fa fa-angle-up"></i>
                        </span>
                        <ul class="footer-menu helper right">
                            <li>
                                <a href="mailto:mike@flyn.org">Support</a>
                            </li>
                        </ul>
                        <!-- End of Footer Menu -->
                        <!-- Copyright -->
                        <p class="copyright helper right">
                            Aquinas &#169; 2018</p>
                        <!-- End of Copyright -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Footer Default -->
</footer>
