<div class="col-md-9 col-sm-6 col-xs-7">
    <nav class="right helper">
        <ul class="menu sf-menu js-menu">
            <li>
                <a href="projects.html">Projects</a>
            </li>
            <li>
                <a href="references.html">References</a>
            </li>
{{if .student}}
            <li>
                <a href="#">{{.student}}</a>
                <ul>
                    <li>
                        <a href="logout.html">Sign out</a>
                    </li>
                    <li>
                        <a href="password.html">Change Password</a>
                    </li>
                    <li>
                        <a href="ssh.html">Register SSH Key</a>
                    </li>
                </ul>
            </li>
{{else}}
            <li>
              <a href="register.html">Register</a>
            </li>
            <li>
              <a href="reset.html">Reset Password</a>
            </li>
            <li>
              <a href="login.html">Sign in</a>
            </li>
{{end}}
        </ul>
    </nav>
</div>
