<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Page title -->
    <title>Aquinas | Password Reset</title>
    <!-- Page description -->
    <meta name="description" content="">
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon  -->
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
    <link rel="manifest" href="img/favicons/img/site.webmanifest">
    <link rel="mask-icon" href="img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Include StyleSheets -->
    <link rel="stylesheet" href="css/aquinas.css">
    <!-- <link rel="stylesheet" href="css/custom.css"> -->
</head>

<body>
    <div class="page js-page">
        <!-- Header -->
        <div class="header header-over large">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-5">
                        <!-- Logo Image -->
                        <a href="/" class="logo-image">
                            <img src="img/logos/aquinas.svg" alt="logo">
                        </a>
                        <!-- End of Logo Image -->
                    </div>
                    <div class="col-md-9 col-sm-6 col-xs-7">
                        <!-- Menu -->
                        <nav class="right helper">
                            <ul class="menu sf-menu js-menu">
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="login.html">Register</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- End of Menu -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Header -->
        <!-- Header Back -->
        <div class="header-back header-back-bg-3 header-back-small">
            <div class="header-back-container">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Rotator -->
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="rotator-text"> Did you know Aquinas is open source? </div>
                                        </div>
                                    </div>
                                </div>
                            <!-- End of Rotator -->
                            <div class="header-back-buttons helper center">
                                <a href="https://gitlab.com/flyn.org/aquinas/" class="button helper mb30 mt40 large stroke blue">Find Aquinas on GitLab</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Next Section Button -->
                <span class="next-section js-scroll-to next-section-light" data-target="#content">
                    <i class="fa-angle-down fa"></i>
                </span>
                <!-- End of Next Section Button -->
            </div>
        </div>
        <!-- End of Header Back -->
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel">
                            <header class="panel-header">Password Reset</header>
                            <section class="panel-content">
                                <p>We have received your request, {{ .student }}.</p>
                                <p>Please check for an email containing your password and instructions which describe how to complete your password reset.</p>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="js-footer-is-fixed">
            <!-- Footer Default -->
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="footer-logo-wrapper">
                                <!-- Logo Image -->
                                <a href="/" class="logo-image ">
                                    <img src="img/logos/aquinas.svg" alt="logo">
                                </a>
                                <!-- End of Logo Image -->
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="footer-wrapper">
                                <!-- Scroll top -->
                                <span class="scroll-top js-scroll-top">
                                    <i class="fa fa-angle-up"></i>
                                </span>
                                <!-- End of Scroll top -->
                                <!-- Footer Menu -->
                                <ul class="footer-menu helper right">
                                    <li>
                                        <a href="#"> About us </a>
                                    </li>
                                    <li>
                                        <a href="#"> Privacy Policy </a>
                                    </li>
                                    <li>
                                        <a href="#"> Terms & Condotions </a>
                                    </li>
                                    <li>
                                        <a href="#"> My account </a>
                                    </li>
                                    <li>
                                        <a href="#"> Support service </a>
                                    </li>
                                </ul>
                                <!-- End of Footer Menu -->
                                <!-- Copyright -->
                                <p class="copyright helper right">
                                    Aquinas &#169; 2018</p>
                                <!-- End of Copyright -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Footer Default -->
        </footer>
        <!-- End of Footer -->
    </div>
    <script src="js/main.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!-- 
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X','auto');ga('send','pageview');
    </script>
     -->
</body>

</html>
